<div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
          <p>
                <a target="_blank" href="tel:+233507747902"><span class=" p-2"><i class="fa fa-phone"></i></span></a>
                <a target="_blank" href="mailto:senyodzantoh@gmail.com"><span class=" p-2"><i class="fa fa-envelope"></i></span></a>
                <a target="_blank" href="https://t.me/senyokd8"><span class="p-2"><i class="fa fa-telegram"></i></span></a>
                <a target="_blank" href="https://instagram.com/senyo.kd"><span class="p-2"><i class="fa fa-instagram"></i></span></a>
                <a target="_blank" href="https://twitter.com/senyodzantor"><span class="p-2"><i class="fa fa-twitter"></i></span></a>
              </p>
            <p>
            | Senyo Kodjo Dzantor | 
              </p>
          </div>
        </div>
      </div>
