
<div class="h-entry mb-30 v-height gradient " style="background-image: url('https://engineering.vidyalankar.org/wp-content/uploads/blogs-banner.jpg'); background-repeat: no-repeat; " > 
  <div class="text-center text-bold">
  <br><br><br><br><br>
  <h1 style="font-size: 5em;
  font-weight: 700; ">Welcome To The Senyo Blog</h1>
  <h5 style="font-size: 2em;
  font-weight: 400;">I am human, you are human lets find out who the man is...</h5>
  <br><br><br><br><br>
  </div>
</div>